<?xml version="1.0"?>
<config>
    <modules>
       <MadCapsule_Zoetrope>
          <version>1.0.0</version>
       </MadCapsule_Zoetrope>
    </modules>
    <global>
        <models>
            <zoetrope>
                <class>MadCapsule_Zoetrope_Model</class>
            </zoetrope>
        </models>
        <resources>
            <zoetrope_setup>
                <setup>
                    <module>MadCapsule_Zoetrope</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </zoetrope_setup>
            <zoetrope_write>
                <connection>
                  <use>core_write</use>
                </connection>
            </zoetrope_write>
            <zoetrope_read>
               <connection>
                <use>core_read</use>
              </connection>
            </zoetrope_read>
        </resources>
        <helpers>
            <zoetrope>
                <class>MadCapsule_Zoetrope_Helper</class>
            </zoetrope>  
        </helpers>
	<events>
		<admin_system_config_changed_section_zoetrope>
		    <observers>
			<zoetrope>
			    <type>singleton</type>
			    <class>zoetrope/observer</class>
			    <method>trigger_import</method>
			</zoetrope>
		    </observers>
		</admin_system_config_changed_section_zoetrope>
	</events>
    </global>
    <frontend>
        <routers>
            <zoetrope>
                <use>standard</use>
                <args>
                    <module>Zoetrope</module>
                    <frontName>zoetrope</frontName>
                </args>
            </zoetrope>
        </routers>
    <layout>
        <updates>
            <madcapsule_zoetrope module="MadCapsule_Zoetrope">
                <file>zoetrope.xml</file>
            </madcapsule_zoetrope>
        </updates>
    </layout>
    </frontend>
    <adminhtml>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <zoetrope>
                                            <title>Zoetrope</title>
                                        </zoetrope>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <zoetrope>
            <general>
                <active>0</active>
                <siteid>[provided by Zoetrope]</siteid>
                <width>265</width>
                <height>265</height>
                <resolution>500</resolution>
            </general>
         </zoetrope>
    </default>
    <crontab>
        <jobs>
            <madcapsule_zoetrope_import>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>zoetrope/observer::import</model></run>
            </madcapsule_zoetrope_import>
        </jobs>
    </crontab>
</config>
